[[source]]
verify_ssl = true
url = "https://pypi.python.org/simple"
name = "pypi"

[dev-packages]
black = "==18.6b4"
pytest = "~=3.6.3"

[packages]
pywikibot = "~=3.0.20180710"
CacheControl = {version = "~=0.12.5", extras = ["filecache"]}
dataclasses = "*"

[requires]
python_version = "3.6"
