[[source]]

verify_ssl = true
url = "https://pypi.python.org/simple"
name = "pypi"


[dev-packages]



[packages]

pywikibot = "~=3.0.20180304"
mwparserfromhell = "~=0.5.1"
CacheControl = {version = "~=0.12.4", extras = ["filecache"]}
