name: Tests

on: [ push, pull_request ]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [ "3.13", "3.14" ]

    steps:
      - uses: actions/checkout@v4
      - uses: astral-sh/setup-uv@v5
      - name: Install dependencies
        run: uv sync -p ${{ matrix.python-version }} --locked
      - name: Check formatting
        run: uv run ruff format --check
      - name: Run ruff
        run: uv run ruff check
      - name: Run ty
        run: uv run ty check
      - name: Run pytest
        run: uv run pytest
